.auth_window {
    height: 100vh;
    width: 1440px;
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s;

}

.auth_window.activated {
    opacity: 1;
    pointer-events: all;
}

.auth_window-content {
    border-radius: 10px;
    width: 504px;
    height: 668px;
    background: #FFFFFF;
    transform: scale(0.5);
    transition: 0.1s all;
}

.auth_window-content.activated {
    transform: scale(1);
}

.auth-img {
    text-align: center;
    padding-top: 61px;
}

.auth_reset_close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.auth-h2 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    margin-top: 38px;
    margin-bottom: 40px;
}


.auth-input__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-input {
    border: 1px solid #D0CDE1;
    box-sizing: border-box;
    border-radius: 6px;
    width: 350px;
    height: 44px;
    margin-bottom: 20px;
    color: #A3A0B1;
}

.auth-input-link {
    position: absolute;
    right: 89px;
    top: 442px;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration: none;

    color: #508E87;
}

.auth-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 40px;
    margin-top: 10px;
    cursor: pointer;

    position: absolute;
    width: 126px;
    height: 51px;
    left: 189px;

    background: #61A199;
    border-radius: 6px;
    color: white;
    border: solid #61A199;
}

.auth-line {
    margin-top: 40px;
    position: absolute;
    left: 77px;
    bottom: 80px;
    cursor: pointer;

}

.auth-link__wrapper {
    bottom: 34px;
    left: 184px;
    position: absolute;
}

.auth-link {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration: none;
    color: #508E87;
    font-style: normal;
    font-weight: normal;
    display: flex;
    margin-bottom: 5px;
}


